<footer>
    <table>
      <tr>
        <td class="FooterSection">
          Filtres
        </td>
        <td valign="top">

          <nav>
            <a routerLink="/about"><strong>Les plus récents</strong></a>
            <a routerLink="/about">Les plus anciens</a>
            <a routerLink="/about">Les mieux notés</a>
            <a routerLink="/about">Les moins notés</a>
            <a routerLink="/about">Aléatoire</a>
          </nav>
        </td>
        <td width="50">
        </td>
        <td class="FooterSection">
          Genres
        </td>
        <td valign="top">

          <nav>
            <a routerLink="/about"><strong>Tous</strong></a>
            <a routerLink="/about">Plate-forme</a>
            <a routerLink="/about">Jeu de rôle</a>
            <a routerLink="/about">RTS</a>
            <a routerLink="/about">Courses</a>
            <a routerLink="/about">FPS</a>
          </nav>
        </td>
      </tr>
    </table>
</footer>
