footer{
  background-color: white;
  padding: 3vh 1vw 0vh 50px;
  margin: 0;
  height: 17vh;
}

nav > *{
  display: block;
}

.FooterSection{
  color: white;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
  writing-mode: vertical-rl;
  background-color: #000D97;
}

nav{
  padding-left:10px;
  font-family: "Bell Gothic Std";
}
