
.container
{
  padding-left: 50px;
  flex-direction: row;
  display: flex;
  height: 75vh;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  perspective: 60vw;
}

.container > :first-child
{
  margin-top:3.8vh;
  margin-left:50px;
  transform: rotateY(35deg);
}

.container > * {
  margin-top:4.7vh;
}
