/* You can add global styles to this file, and also import other style files */
html{
  padding: 0;
  background-color: #B8B8B8;
  font-family: Calibri;
}

h1, h2 {
  font-family: "Bell Gothic Std Black";
}

h3,h4,h5,h6{
  font-family: "Bell Gothic Std";
}

body{
  margin:0;
  padding: 0;
}

a,a:visited{
  text-decoration: none;
  color: initial;
}

a:hover{
  text-decoration: underline;
}

